In [12]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in /srv/conda/envs/notebook/lib/python3.7/site-packages (2.2.9)

In [13]:
import mysql.connector
import pandas as pd

In [ ]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = '123456Ch',
    database = 'sakila'
)

In [ ]:
myCursor = mydb.cursor()
def sql(syntax):
    myCursor.execute(syntax)
    myResult = myCursor.fetchall()
    df = pd.DataFrame(myResult, columns = myCursor.column_names)
    return df

In [ ]:
sql('show tables;')

1. Tampilkan daftar 10 film komedi dengan durasi tersingkat. Urutkan data berdasarkan film dengan urasi terpendek. Kolom yang diwajibkan tampil adalah title, category dan length. Output yang diharapkan:

In [ ]:
SELECT film_list.title, film_list.category, film_list.length
FROM film_list
WHERE category = 'comedy'
ORDER BY length asc limit 10;

2. Tampilkan daftar lengkap kategori film beserta jumlah film tiap kategori & rata-rata harga sewa DVD film tiap kategori. Urutkan data dari kategori dengan jumlah film terbanyak. Kolom yang diwajibkan ada minimal adalah kategori, jumlah film dan rata-rata harga sewa. Output yang diharapkan:

In [ ]:
SELECT film_list.category, COUNT(*) as jumlahMovie, AVG(price) as rataHargaSewa
FROM film_list
GROUP BY category
ORDER BY COUNT(*) desc;

3. Tampilkan daftar 10 aktor/aktris yang paling banyak membintangi film. Kolom yang ditampilkan minimal: id aktor, nama depan, nama belakang dan jumlah film yang dibintangi. Kemudian urutkan dari aktor/aktris yang membintangi film terbanyak. Output yang diharapkan:

In [ ]:
SELECT actor.actor_id, actor.first_name, actor.last_name,
COUNT(*) as jumlah_Movie
FROM actor
JOIN film_actor on film_actor.actor_id = actor.actor_id
GROUP BY actor.actor_id
ORDER BY COUNT(*) desc limit 10;

4. Dari soal sebelumnya diketahui Gina Degeneres merupakan aktris yang paling banyak membintangi film, dengan total 42 judul film. Kategori film apakah yang paling banyak dibintanginya? Untuk mengetahuinya, tampilkan daftar kategori film beserta jumlah film yang pernah dibintangi oleh Gina Degeneres. Kolom yang diwajibkan ada yaitu kategori film dan jumlah film yang dibintangi. Output yang diharapkan:

In [ ]:
SELECT category.name as category,
COUNT(*) as jumlah_Movie
FROM actor
JOIN film_actor on film_actor.actor_id = actor.actor_id
JOIN film on film.film_id = film_actor.film_id
JOIN film_category on film_category.film_id = film.film_id
JOIN category on category.category_id = film_category.category_id
WHERE actor.first_name = 'Gina' and actor.last_name = 'Degeneres'
GROUP BY category.name;

5. Dari soal sebelumnya diketahui Gina Degeneres paling banyak membintangi film bergenre sciencefiction, dengan total 7 judul film. Tampilkan daftar judul film sci-fi yang pernah dibintangi oleh Gina Degeneres. Kolom yang diwajibkan ada yaitu judul film dan kategorinya. Output yang diharapkan:

In [ ]:
SELECT film.title as title, category.name as category
FROM actor
JOIN film_actor on film_actor.actor_id = actor.actor_id
JOIN film on film.film_id = film_actor.film_id
JOIN film_category on film_category.film_id = film.film_id
JOIN category on category.category_id = film_category.category_id
WHERE actor.first_name = 'Gina' and actor.last_name = 'Degeneres' and category.name = 'Sci-Fi';